@import "reset.css";

main{
    min-height: 90vh;
}

body{
    background-color: white;
    color: #50575d;
}

.bg-depresiq{
    background-color: #343A40;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.aboutUS{
    font-size: 1.5rem;
}

.info{
    font-size: 1.4rem;
}

.lesson{
    font-size: 1.3rem;

}

.author{
    background-color: rgb(52, 58, 64);
}

.ivanvazov{
    max-width: 100%;
}
